Source: vyatta-version
Section: misc
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-version.git
Vcs-Browser: https://github.com/nudanos/vyatta-version

Package: vyatta-version
Architecture: any
Depends: ${misc:Depends}
Section: base
Replaces: vyatta-version, vc-version, vc2-version, devel-version
Description: Produces version and package file
 This package sets up the version file and a file containing the list 
 of recommended packages (with recommended versions).
